# Virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log


city_data.db